.blocktopdiv {
    height: 310px !important;
}
.blockbdiv {
    height: 500px !important;
}
.nya_wsgp_title {
    font-size: 10pt;
}
.nya_wsgp_freeshipping span {
    position: absolute;
    background-color: #FE99CC;
    color: #FFF;
    font-size: 10pt;
    width: 50px;
    text-align: center;
    line-height: 20px;
    height: 20px;
    border-radius:20px;
}
.nya_wsgp_freeshipping_s {
    font-size: 12pt;
    color: #CC00FF;
}
.nya_wsgp_freeshipping_l {
    font-size: 14pt;
    color: #CC00FF;
}
.nya_wsgp_freeshipping_oldp {
    font-size: 10pt;
    color: gray;
    text-decoration: line-through;
}
.nya_wsgp_cnum {
    background-color: #FE99CC;
    border: 2px dotted #FFF;
    color: #FFF;
    line-height: 40px;
    font-size: 12pt;
}
.nya_wsgp_cnuma {
    border-right: none;
}
.nya_wsgp_salesvol {
    font-size: 10pt;
    color: gray;
}
.nya_wsgp_qrbox {
    position: relative;
    float: right;
    width: 100px;
    height: 100px;
    text-align: right;
    padding: 2px;
    background-color: #FFF;
    background-image:linear-gradient(#FFF,#FFF)
    ,linear-gradient(to left,#FE99CC 33.3%,transparent 0,transparent 66.6%  , #FE99CC 0)
    ,linear-gradient(#FE99CC 33.3%,transparent 0,transparent 66.6%  , #FE99CC 0)
    ,linear-gradient(to right,#FE99CC 33.3%,transparent 0,transparent 66.6%  , #FE99CC 0)
    ,linear-gradient(to bottom,#FE99CC 33.3%,transparent 0,transparent 66.6%  , #FE99CC 0);
    background-clip: content-box,border-box,border-box,border-box,border-box;
    background-position: 0 0,0 0,100% 0,0 100%,0;
    background-size: 100%,100% 5px,5px 100%,100% 5px,5px 100%;
    background-repeat: repeat,no-repeat,no-repeat,no-repeat,no-repeat; 
}
.nya_wsgp_qr {
    position: relative;
    width: 100%;
    height: 100%;
    color: lightgray;
}
.nya_wsgp_qrboxinfo {
    position: relative;
    float: right;
    width: 100%;
    text-align: center;
    font-size: 10pt;
    color: #FE99CC;
}